/DeleteImage.class
/FileUploadServlet.class
/ImageServer.class
/IndexServlet.class
/ListImagesFromUser.class
/LoginFilter.class
/LoginServlet.class
/Logout.class
/RegisterServlet.class
/RemoveFromDatabase.class
/ThumbnailCreator.class
/ViewFullSize.class
/ListUsers.class
